{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "import/no-unresolved": 0,
    "class-methods-use-this": 0,
    "react/prop-types": ["error", { "ignore": ["navigation"] }],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "prettier/prettier": ["error"]
  },
  "plugins": ["prettier"]
}
